$c-black: #7E7F7A;
$c-white: #f9f9f9;
$c-success: #C3F302;
$c-danger: #5C47AE;
$ca-sm: .025;
$ca-base: .5;
$ca-lg: .75;

$screen-sm: 430px;
$screen-md: 834px;
$screen-base: 1280px;
$screen-lg: 1440px;
