<app-header [card]="true">
  <app-search
    *ngIf="!mobile; else mobileSearch"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="11"
    nzLg="9"
    nzXl="7"
  ></app-search>
  <ng-template #mobileSearch>
    <a nz-button routerLink="/search" nzType="primary" nzSize="small" nzShape="circle">
      <i nz-icon nzType="search"></i>
    </a>
  </ng-template>
</app-header>

<app-map [offset]="mapOffset"></app-map>

<app-map-aside
  [ngStyle]="{
    right: (mapOffset ? mapOffset[0] : 0) + 'px',
    bottom: (mapOffset ? mapOffset[1] : 0) + 'px',
    position: 'fixed'
  }"
></app-map-aside>

<ng-template #drawerContentTemplate>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #drawerExtraTemplate>
  <a *ngIf="extraLink" [routerLink]="extraLink" nz-button nzType="link">
    <i nz-icon nzType="select"></i>
  </a>
</ng-template>
