:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > [nz-icon]:first-child {
    margin-left: .5rem;
    text-align: center;
  }
}

address {
  display: block;
  margin-bottom: 0;
  flex-grow: 1;
  margin-left: .5rem;
}