<mgl-map
  [accessToken]="accessToken"
  [style]="'mapbox://styles/packtwo/cln03jvjy02v001nzceog3kko'"
  [center]="initialPosition"
  [zoom]="initialZoom"
  [centerWithPanTo]="true"
  [interactive]="true"
  [attributionControl]="false"
  [scrollZoom]="false"
  [touchZoomRotate]="true"
  (zoomEnd)="onZoom($event)"
  (mapMouseMove)="onMove($event)"
  (move)="onMove($event, false)"
  #mapRef
>
  <mgl-marker *ngIf="point" [lngLat]="point">
    <app-cursor></app-cursor>
  </mgl-marker>
  <mgl-marker *ngIf="userLocation" [lngLat]="userLocation">
    <app-avatar size="small" icon="aim"></app-avatar>
  </mgl-marker>
</mgl-map>
<app-map-aside [noCreate]="true"></app-map-aside>
