@import "../variables";

.Artist {
  &__plate {
    display: flex;
    align-items: center;
    text-decoration: none;
    @media (max-width: $screen-md) {
      position: fixed;
      background-color: rgba($color: $c-white, $alpha: $ca-base);
      margin: 0;
      width: 50%;
    }
    .Artist__leave {
      height: 100%;
      display: inline-block;
      text-decoration: none;
      margin-right: 1rem;
      padding-left: 1rem;
      font-size: 3em;
      line-height: 2;
    }
    h2 {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
  
  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__pic {
    grid-row: span 10;
    overflow: hidden;
    padding-top: 1rem;
    min-height: calc(100vh - 7rem);
    picture img {
      height: 100%;
      width: auto;
    }
  }
}
