@import "../variables";

.Landing {
  @extend body;
  position: relative;
  &__header {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    background-color: rgba($c-white, $ca-lg);
  }
  .Logo {
    width: 100%;
  }
}