<nz-space *ngIf="!data" nzDirection="vertical" [ngClass]="['pin-content', isFullPage ? 'full-page' : '']">
  <nz-skeleton-element
    *nzSpaceItem
    nzType="image"
    [nzActive]="true"
    class="cover"
    [ngStyle]="{ 'aspect-ratio': coverRatio }"
  ></nz-skeleton-element>
  <nz-skeleton
    *nzSpaceItem
    [nzActive]="true"
    [nzParagraph]="false"
    [nzTitle]="{ width: '100%' }"
  ></nz-skeleton>
  <nz-space *nzSpaceItem nzDirection="horizontal">
    <nz-skeleton-element
      *nzSpaceItem
      nzType="button"
      [nzActive]="true"
    ></nz-skeleton-element>
    <nz-skeleton-element
      *nzSpaceItem
      nzType="button"
      [nzActive]="true"
    ></nz-skeleton-element>
    <nz-skeleton-element
      *nzSpaceItem
      nzType="button"
      [nzActive]="true"
    ></nz-skeleton-element>
  </nz-space>
  <nz-skeleton
    *nzSpaceItem
    [nzActive]="true"
    [nzParagraph]="{ rows: 4 }"
    [nzTitle]="false"
  ></nz-skeleton>
  <nz-skeleton
    *nzSpaceItem
    [nzActive]="true"
    [nzParagraph]="{ rows: 3 }"
    [nzTitle]="false"
  ></nz-skeleton>
</nz-space>

<ng-container *ngIf="data">
  <div class="pin-layout">
    <nz-space nzDirection="vertical" [ngClass]="['pin-content', isFullPage ? 'full-page' : '']">
      <app-cover-image
        *nzSpaceItem
        class="cover"
        [src]="data.cover!.url"
        alt="Cover image of {{ data.title }}"
      />
      <h2 *nzSpaceItem nz-typography>{{ data.title }}</h2>
      <nz-space *nzSpaceItem nzDirection="horizontal">
        <ng-container *ngFor="let af of data.art_forms">
          <nz-tag *nzSpaceItem>
            {{ af.name }}
          </nz-tag>
        </ng-container>
      </nz-space>
      <ng-container *ngIf="data.description">
        <p *nzSpaceItem nz-typography>
          {{ data.description }}
        </p>
      </ng-container>
      <ng-container *ngIf="data.location_description">
        <h4 *nzSpaceItem nz-typography>How to get there</h4>
        <p *nzSpaceItem nz-typography>
          {{ data.location_description }}
        </p>
      </ng-container>
      <ng-container *ngIf="isFullPage">
        <app-mini-map *nzSpaceItem [point]="mapPoint"></app-mini-map>
      </ng-container>
    </nz-space>
    <nz-divider></nz-divider>
    <div class="form-actions" *ngIf="auth.isAuthenticated$ | async">
      <a
        *ngIf="canEdit"
        id="edit-btn"
        nz-button
        nzGhost
        nzSize="large"
        [routerLink]="['edit']"
        >Edit</a
      >
      <a
        *ngIf="canFlag"
        id="flag-btn"
        nz-tooltip
        nzTooltipTitle="Flag issues with this location"
        nzTooltipPlacement="left"
        nz-button
        nzGhost
        nzSize="large"
        [routerLink]="['flag']"
      >
        <i nz-icon nzType="flag"></i>
      </a>
    </div>
  </div>
</ng-container>
