[nz-form] {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

nz-form-item:not(.cover) {
  padding: 0 0.25rem;
}

app-cover-editor {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

legend {
  margin-top: auto;
  margin-bottom: 0;
  small {
    display: block;
    margin-bottom: 1rem;
  }
}

.status-control {
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  nz-form-label {
    flex-grow: 1;
    
  }
  nz-form-control {
    flex-grow: 0;
    margin-left: auto;
  }
}

app-mini-map {
  width: 100%;
  height: 50vh;
}