{% extends "layout.html" %}
{% import "common/macros.html" as macros%}


{% block aside_content %}
{% set artist = get_page(path="artist/"~page.components[1]~"/index.md") %}
{% set galleries = get_section(path="gallery/_index.md") %}
<nav class="Artist__nav">
  <div class="Artist__plate">
    <a class="Artist__leave" href="/gallery">&larr;</a>
    <h2>{{artist.title}}</h2>
  </div>
  <nav class="Artist__nav">
    <a href="/artist/{{artist.slug}}/#all">All</a>
    {% for gallery in galleries.pages %}
    <a href="/artist/{{artist.slug}}#{{gallery.slug}}">{{gallery.title}}</a>
    {% endfor %}
  </nav>
  <a href="/artist/{{artist.slug}}/bio">bio</a>
  <div class="Artist__plate">
    <h3>contact</h3>
  </div>
</nav>
<div class="Artist__pic">
  {% set pic = resize_image(path=artist.assets[0], width=200, op="fit_width")%}
  {{macros::picture(image=pic, alt=artist.title)}}
</div>
{% endblock aside_content%}

{% block page_content %}
<form class="Contact" name="contact-artist" data-netlify="true" method="POST">
  <legend class="Contact__legend">
    {{page.content | safe}}
  </legend>
  <label class="Contact__label" for="to">To:</label>
  <input class="Contact__input" type="readonly" name="to" value="{{artist.title}}" />
  <label class="Contact__label" for="name">From:</label>
  <input class="Contact__input" type="text" name="name" max="500" placeholder="What's your name?" />
  <label class="Contact__label" for="email">Email:</label>
  <input class="Contact__input" type="email" required max="500" name="email" placeholder="How to contact you?" />
  <label class="Contact__label" for="message">Message:</label>
  <textarea class="Contact__input Contact__input--textarea" name="message" max="5000" required
    placeholder="What's the matter?"></textarea>
  <button class="Contact__submit" type="submit">Contact {{artist.title}}</button>
</form>
{% endblock page_content%}