{% extends "layout.html" %}
{% import "common/macros.html" as macros%}


{% block aside_content %}
{{macros::navs(artist=term.slug)}}
{% endblock aside_content%}

{% block page_content %}
{% set artist = get_page(path="artist/"~term.slug~"/index.md") %}
  <div class="Artist">
    <div class="Artist__gallery">
      <div class="Gallery">
        <div class="Gallery__grid">
        {% set artwork_s = get_section(path="artworks/_index.md") %}
        {% for artwork in artwork_s.pages %}
        {% if artwork.taxonomies.artist is containing(artist.title) %}
        {{macros::artwork_thumbnail(id=artwork.extra.id)}}
        {% endif %}
        {%endfor%}
      </div>
    </div>
  </div>
{% endblock page_content %}