<nz-card
  [nzCover]="coverTemplate"
  [nzExtra]="extraTemplate"
  [nzActions]="[editActionTemplate]"
>
  <nz-card-meta
    [nzTitle]="data.point?.title!"
    [nzDescription]="data.point?.description!"
  ></nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
  <app-cover-image [src]="data.point?.cover.url!"></app-cover-image>
</ng-template>

<ng-template #extraTemplate>
  <a [routerLink]="['/', 'map', 'pin', data.point?.id!]" nz-button nzType="link">
    <i nz-icon nzType="environment"></i>
  </a>
</ng-template>

<ng-template #editActionTemplate>
  <a [routerLink]="['/', 'pin', data.point?.id!, 'edit']" nz-button nzType="link">
    Edit
  </a>
</ng-template>
