{% macro picture(image, alt) %}
<picture>
  {% for media in [430, 834, 1280, 1440] %}
  {% if image.width >= media %}
  {% set source = resize_image(path=image.static_path, width=media, op="fit_width") %}
  <source media="(max-width: {{media}}px" srcset="{{source.url}}" />
  {% endif %}
  {% endfor %}
  <img src="{{image.url}}" alt="{{alt}}" />
</picture>
{% endmacro picture %}


{% macro artwork_thumbnail(id) %}
{% set artwork = get_page(path="artworks/"~id~"/index.md") %}
<a class="Artwork--thumbnail" href="/artworks/{{artwork.slug}}">
  <div class="Artwork__gallery">
    {% for asset in artwork.assets %}
    {% set thumbnail = resize_image(path=asset, width=200, height=200, op="fit")%}
    {{ self::picture(image=thumbnail, alt=artwork.title) }}
    {% endfor %}
  </div>
  <div class="Artwork__plate">
    <h4 class="Artwork__title">{{artwork.title}}</h4>
    <div class="Artwork__authors">
      {% for artist in artwork.taxonomies.artist %}
      <span class="Artwork__artist">
        {{artist}}
      </span>
      {% endfor %}
    </div>
  </div>
</a>
{% endmacro artwork_thumbnail%}


{% macro navs(gallery=false, artist=false, artwork=false, slug=false) %}
<nav>
  {% if artist %}
  {% set artist_page = get_page(path="artist/"~artist~"/index.md") %}
  {% set galleries = get_section(path="gallery/_index.md") %}
  <nav class="Artist__nav">
    <div class="Artist__pic">
      {% set pic = resize_image(path=artist_page.assets[0], width=200, op="fit_width")%}
      {{macros::picture(image=pic, alt=artist_page.title)}}
    </div>
    {% if slug %}
    <a href="/artist/{{artist_page.slug}}" class="Artist__plate">
      <div class="Artist__leave">&larr; </div>
      <h2>{{artist_page.title}}</h2>
    </a>
    {% else %}
    <div class="Artist__plate">
      <a class="Artist__leave" href="/gallery">&larr;</a>
      <h2>{{artist_page.title}}</h2>
    </div>
    {% endif %}
    {% if galleries.pages %}
    <h4>Exhibitions</h4>
    <nav>
      {% for gallery_page in galleries.pages %}
      <a href="/artist/{{artist_page.slug}}#{{gallery_page.slug}}">{{gallery_page.title}}</a>
      {% endfor %}
    </nav>
    {% endif %}
    {% if slug == "bio" %}
    <h3>bio</h3>
    {%else%}
    <a href="/artist/{{artist_page.slug}}/bio">bio</a>
    {%endif%}
  </nav>
  {% elif gallery %}
  {% set artists = get_section(path="artist/_index.md") %}
  {% set galleries = get_section(path="gallery/_index.md") %}
  <h2>Gallery</h2>
  <nav class="Gallery__nav">
    {% if artists.pages %}
    <h4>Artists</h4>
    {% endif %}
    {% for artist_page in artists.pages %}
    <a href="/artist/{{artist_page.slug}}">{{artist_page.title}}</a>
    {% endfor %}
    {% if galleries.pages %}
    <h4>Exhibitions</h4>
    {% endif %}
    {% for gallery_page in galleries.pages %}
    <a href="/gallery/{{gallery_page.slug}}">{{gallery_page.title}}</a>
    {% endfor %}
    <hr />
    <a href="/about">about</a>
    <a href="/contact">contact</a>
  </nav>
  {% elif artwork%}
  {% set artwork_page = get_page(path="artworks/"~artwork~"/index.md")%}
  <div class="Artwork__plate">
    <a class="Artwork__leave" href="javascript:history.back()">&larr;</a>
    {% if artwork_page.title %}
    <h2 class="Artwork__title">{{artwork_page.title}}</h2>
    {% else %}
    <h2 class="Artwork__title Artwork__title--untitled">Artwork</h2>
    {%endif%}
  </div>
  <nav class="Artwork__nav">
    <div class="Artwork__by">
      by
    </div>
    {% for artist in artwork_page.taxonomies.artist %}
    {% set url = get_taxonomy_url(kind="artist", name=artist)%}
    <a href="{{url}}">{{artist}}</a>
    {% endfor %}
    {% for gallery in artwork_page.taxonomies.gallery %}
    {% set url = get_taxonomy_url(kind="gallery", name=gallery)%}
    <a href="{{url}}">{{gallery}}</a>
    {% endfor %}
    <div class="Artwork__date">
      {{artwork_page.date | date(format="%m, %Y")}}
    </div>
  </nav>
  {% else %}
  <a href="/gallery">gallery</a>

  {% if slug == "about" %}
  <h3>about</h3>
  {%else%}
  <a href="/about">about</a>
  {%endif%}
  {% if slug == "contact" %}
  <h3>contact</h3>
  {%else%}
  <a href="/contact">contact</a>
  {%endif%}

  {% endif %}
</nav>
{% endmacro navs%}