{% macro picture(image, alt) %}
<picture>
  {% for media in [430, 834, 1280, 1440] %}
  {% if image.width >= media %}
  {% set source = resize_image(path=image.static_path, width=media, op="fit_width") %}
  <source media="(max-width: {{media}}px" srcset="{{source.url}}" />
  {% endif %}
  {% endfor %}
  <img src="{{image.url}}" alt="{{alt}}" style="width: auto" />
</picture>
{% endmacro picture %}


{% macro artwork_thumbnail(id) %}
{% set artwork = get_page(path="artworks/"~id~"/index.md") %}
<a class="Artwork--thumbnail" href="/artworks/{{artwork.slug}}">
  <div class="Artwork__gallery">
    {% for asset in artwork.assets %}
    {% set thumbnail = resize_image(path=asset, width=200, height=200, op="fit")%}
    {{ self::picture(image=thumbnail, alt=artwork.title) }}
    {% endfor %}
  </div>
  <div class="Artwork__plate">
    <h4 class="Artwork__title">{{artwork.title}}</h4>
    <div class="Artwork__authors">
      {% for artist in artwork.taxonomies.artist %}
      <span class="Artwork__artist">
        {{artist}}
      </span>
      {% endfor %}
    </div>
  </div>
</a>
{% endmacro artwork_thumbnail%}


{% macro navs(gallery=false, artist=false, artwork=false, slug=false) %}
<nav>
  {% if artist %}
  {% set artist_page = get_page(path="artist/"~artist~"/index.md") %}
  {% set galleries = get_section(path="gallery/_index.md") %}
  <nav class="Artist__nav">
    <div class="Artist__pic">
      {% set pic = resize_image(path=artist_page.assets[0], width=200, op="fit_width")%}
      {{macros::picture(image=pic, alt=artist_page.title)}}
    </div>
    <div class="Artist__plate">
      {% if slug %}
      <a class="Artist__leave" href="/artist/{{artist_page.slug}}">&larr;</a>
      {% else %}
      <a class="Artist__leave" href="/gallery">&larr;</a>
      {% endif %}
      <h2>{{artist_page.title}}</h2>
    </div>
    <nav>
      <a href="/artist/{{artist_page.slug}}/#all">All</a>
      {% for gallery_page in galleries.pages %}
      <a href="/artist/{{artist_page.slug}}#{{gallery_page.slug}}">{{gallery_page.title}}</a>
      {% endfor %}
    </nav>
    {% if slug == "bio" %}
    <h3>bio</h3>
    {%else%}
    <a href="/artist/{{artist_page.slug}}/bio">bio</a>
    {%endif%}
    {% if slug == "contact" %}
    <h3>contact</h3>
    {%else%}
    <a href="/artist/{{artist_page.slug}}/contact">contact</a>
    {%endif%}
  </nav>
  {% elif gallery %}
  {% set artists = get_section(path="artist/_index.md") %}
  {% set galleries = get_section(path="gallery/_index.md") %}
  <h2>Gallery</h2>
  <nav class="Gallery__nav">
    <a href="/gallery/#all">All</a>
    {% for artist_page in artists.pages %}
    <a href="/artist/{{artist_page.slug}}">{{artist_page.title}}</a>
    {% endfor %}
    {% for gallery_page in galleries.pages %}
    <a href="/gallery#{{gallery_page.slug}}">{{gallery_page.title}}</a>
    {% endfor %}
    <hr />
    <a href="/about">about</a>
    <a href="/contact">contact</a>
  </nav>
  {% elif artwork%}
  {{artwork}}
  {% else %}
  <a href="/gallery">gallery</a>

  {% if slug == "about" %}
  <h3>about</h3>
  {%else%}
  <a href="/about">about</a>
  {%endif%}
  {% if slug == "contact" %}
  <h3>contact</h3>
  {%else%}
  <a href="/contact">contact</a>
  {%endif%}

  {% endif %}
</nav>
{% endmacro navs%}