<aside>
  <a
    nz-button
    nz-tooltip
    nzTooltipTitle="Create new pin"
    nzTooltipPlacement="left"
    nzShape="circle"
    routerLink="create-pin"
    routerLinkActive="active ant-btn-primary"
  >
    <span nz-icon nzType="pushpin"></span>
  </a>
  <app-locate-me-btn></app-locate-me-btn>
  <button
    nz-button
    nzShape="circle"
    nz-tooltip
    nzTooltipTitle="Zoom in map view"
    nzTooltipPlacement="left"
    (mousedown)="handlePlus($event)"
    (mouseup)="endZoomHandle($event)"
    [disabled]="!canZoomIn"
  >
    <span nz-icon nzType="plus"></span>
  </button>
  <button
    nz-button
    nz-tooltip
    nzTooltipTitle="Zoom out map view"
    nzTooltipPlacement="left"
    nzShape="circle"
    (mousedown)="handleMinus($event)"
    (mouseup)="endZoomHandle($event)"
    [disabled]="!canZoomOut"
  >
    <span nz-icon nzType="minus"></span>
  </button>
</aside>
