<nz-input-group [nzPrefix]="searchPrefixTemplate" [ngClass]="{'activated': isActivated, wide: wideActivated}">
  <input
    type="search"
    nz-input
    nzSize="large"
    placeholder="Search..."
    [nzAutocomplete]="auto"
    [formControl]="search"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
  />
</nz-input-group>
<ng-template #searchPrefixTemplate><i nz-icon nzType="search"></i></ng-template>
<nz-autocomplete
  [nzDataSource]="searchOptions"
  nzBackfill
  #auto
></nz-autocomplete>
